.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #F6F7A9;
    width: 850px;
    height: 80px;
    border-radius: 20px;
    background: rgb(81, 15, 138);
    color:rgb(239, 127, 86);
    text-align:center;
}

#hoverButton{
    border:none;
    padding:5px;
    border-radius: 2px;
}

#hoverButton:hover {
    background-color: rgb(247, 153, 119);
}

#keyboardInput {
    color: purple;
    font:bold;
    width: 170px;
}

#keyPressedMessage{
    font-weight:bold;
    color:purple;
}

#formMessage{
    font-style:italic;
    color:purple;
}

#submitButton{
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#submitButton:hover{
    background-color:  rgb(247, 153, 119);
}

#skyInput{
    border-radius: 30px 30px 30px 30px;
    border:2px dashed darkcyan;
    
}

#ageMessage{
    font-style:italic;

}