.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #F6F7A9;
    width: 850px;
    height: 80px;
    border-radius: 20px;
    background: rgb(81, 15, 138);
    color:rgb(239, 127, 86);
    text-align:center;
}

